BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Right
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
SortIncludes: true