Checks: >
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-*,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-auto,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file